<div class="card shadow-lg ">
    <div class="card-header mb-4 text-center">
        <h1 style="font-weight: bold">Expense Summary:</h1>
    </div>

    <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card text-white" style="background-color: #000000;">
                <div class="card-body">
                    <h5 class="card-title">TOTAL EXPENSES</h5>
                    <p class="card-text">{{expenseSummaryInput.total}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card text-white" style="background-color: #00aacb;">
                <div class="card-body">
                    <h5 class="card-title">HOME</h5>
                    <p class="card-text">{{expenseSummaryInput.home}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card text-white" style="background-color: #198754;">
                <div class="card-body">
                    <h5 class="card-title">GROCERIES</h5>
                    <p class="card-text">{{expenseSummaryInput.groceries}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card text-black" style="background-color: #ffbf00;">
                <div class="card-body">
                    <h5 class="card-title">UNCOMMON</h5>
                    <p class="card-text">{{expenseSummaryInput.uncommon}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card text-white" style="background-color: #dc3545;">
                <div class="card-body">
                    <h5 class="card-title">FUTILE</h5>
                    <p class="card-text">{{expenseSummaryInput.futile}}</p>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12 mb-4">
            <div class="card text-white" style="background-color: #a446d2;">
                <div class="card-body">
                    <h5 class="card-title">VEHICLE</h5>
                    <p class="card-text">{{expenseSummaryInput.vehicle}}</p>
                </div>
            </div>
        </div>
    </div>