<div class="card shadow-lg ">

    <div class="card-header">
        <h1 style="font-weight: bold">Graph:</h1>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-xl-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Start Date</span>
                    <input type="date" class="form-control" id="startDate" aria-describedby="basic-addon3"
                        [formControl]="startDateObject" required>
                    <!-- [value]="startDateObject.value | date: 'yyyy-MM-dd' "> -->
                </div>
            </div>

            <div class="col-xl-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">End Date</span>
                    <input type="date" class="form-control" id="endDate" aria-describedby="basic-addon3"
                        [formControl]="endDateObject" required [min]="startDateObject.value">
                </div>
            </div>

            <div class=" d-grid">
                <button type="button" class="btn btn-dark" (click)="loadExpensePieChartData()"> Show </button>
            </div>

        </div>

        <div class="row mt-3">
            <div class="text-center" *ngIf="isApiLoading; else apiResponseLoaded">
                <div class="spinner-border text-warning" style="width: 3rem; height: 3rem;" role="status">
                </div>
            </div>
            <ng-template #apiResponseLoaded>
                <div *ngIf="hasApiError; else successResponse">
                    <div class="alert alert-danger" role="alert">
                        Sorry, we are unable to show the pie-chart due to an issue with our server.
                        Please try again after some time.
                    </div>
                </div>
                <ng-template #successResponse>
                    <div *ngIf="isPieChartDataEmpty(); else showPieChart">
                        <div class="alert alert-info" role="alert">
                            Expense information not available for the selected date range.
                        </div>
                    </div>
                </ng-template>
                <ng-template #showPieChart>
                    <div class="chart">
                        <canvas baseChart [data]="pieChartData" [labels]="pieChartLabels"
                            [chartType]="pieChartType" [options]="pieChartOptions" [colors]="pieChartColors"
                            [legend]="pieChartLegend" style="height:500px;">
                        </canvas>
                    </div>
                </ng-template>
            </ng-template>
        </div>

    </div>

    <div class="card-footer mb-5"> </div>

</div>