<div class="card shadow-lg ">
    <div class="card-header">
        
        <h1  style="font-weight: bold">Add Expense:</h1>
    </div>
    <div class="card-body">

    <form>       
        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Reason</span>
            <input type="text" class="form-control" id="reason" aria-describedby="basic-addon3" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Cost</span>            
            <input type="number" min="0.01"
             step="0.01" class="form-control" id="cost" aria-describedby="basic-addon3" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Category</span>           
            <select id="category" class="form-control" aria-describedby="basic-addon3" required>
                <option value="volvo">Groceries</option>
                <option value="saab">Home</option>
                <option value="mercedes">Uncommon</option>
                <option value="audi">Futile</option>
              </select>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon3">Date</span>            
            <input type="date" class="form-control" id="date" aria-describedby="basic-addon3" required>
        </div>

        <div class="d-grid mb-3"> 
            <button type="button" class="btn btn-dark">  Save  </button>
        </div>       
      
    </form>       

    </div>
    
</div>