<div class="card">

    <div class="card-header">        
        <h1 style="font-weight: bold">Graph:</h1>
    </div>

    <div class="card-body">

        <div class="row">

            <div class="col-xl-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Start Date</span>            
                    <input type="date" class="form-control" id="startDate" aria-describedby="basic-addon3" required>
                </div>
            </div>     
            
            <div class="col-xl-6">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">End Date</span>            
                    <input type="date" class="form-control" id="endDate" aria-describedby="basic-addon3" required>
                </div>
            </div>
            
            <div class=" d-grid"> 
                <button type="button" class="btn btn-dark ">  Show  </button>
            </div>      
               
        </div>

        <div class="row" >
            
            <canvas id="myChart" style="height:500px;"></canvas>
        </div>

    </div>

    <div class="card-footer mb-5">  </div>

</div>