<div class="card">

    <div class="card-header">        
        <h1 style="font-weight: bold">Graph:</h1>
    </div>

    <div class="card-body">

        

        <div class="row">

            <div class="col-xl-5">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">Start Date</span>            
                    <input type="date" class="form-control" id="startDate" aria-describedby="basic-addon3" required>
                </div>
            </div>     
            
            <div class="col-xl-5">
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon3">End Date</span>            
                    <input type="date" class="form-control" id="endDate" aria-describedby="basic-addon3" required>
                </div>
            </div>
            
            <div class="d-grid gap-2 col-6 mx-auto col-xl-2"> 
                <button type="button" class="btn btn-dark">  Show  </button>
            </div>      
               
          
        </div>

        <div class="row">
            <img src="https://matplotlib.org/stable/_images/sphx_glr_pie_features_001.png"/>
        </div>

    </div>

</div>